
.tvScreen {
  background: #262424;
  border: 10px solid #555;
  border-radius: 70px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  width: 20rem;  /* or whatever size you want */
  height: 14rem;
  z-index: 1;
  position: fixed;
  top: 56%;
  left: 42%;
  transform: translate(-50%, -50%);
}

.appTitle {
  font-size: 3rem;
  background: linear-gradient(315deg, #185a9d 0%, #43cea2 85%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: fadeIn 2.5s;
}

.landing_page_modal {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1.5; }
}
