
.tvScreen {
  background: #262424;
  border: 6px solid #555;
  border-radius: 70px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  width: 20em;  
  height: 16em;
  /* width: 60%;  
  height: 48%; */
  min-width: 12em;
  z-index: 1;
  position: fixed;
  top: 55.8%;
  left: 42%;
  transform: translate(-50%, -50%);
}

.appTitle {
  font-family: 'Raleway';
  font-size: 3em;
  background: linear-gradient(315deg, #185a9d 0%, #43cea2 85%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: fadeIn 2.5s;
}

.landingPageModal {
  animation: fadeIn 2s;
  top: 51%!important;
  left: 47%!important;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1.5; }
}

@media (max-width: 1500px) {
  .tvButtonContainer {
    right: 33% !important;
  }
}

 @media (max-width: 1450px) {
  .tvButtonContainer {
    right: 32.5% !important;
  }
}

 @media (max-width: 1400px) {
  .tvButtonContainer {
    right: 31% !important;
    top: 51.75% !important;
  }
  .titleContainer {
    left: 46.8% !important;
  }
  .landingPageModal {
    left: 47%!important;
  }
}


 @media (max-width: 1300px) {
  .tvButtonContainer {
    right: 30% !important;
    
  }
  .titleContainer {
    left: 46.5% !important;
  }
  .landingPageModal {
    left: 46.4%!important;
  }
}

@media (max-width: 1250px) {
  .tvButtonContainer {
    right: 30% !important;
  }
  .titleContainer {
    left: 46.75% !important;
  }

}

 @media (max-width: 1200px) {
  .tvButtonContainer {
    right: 28% !important;
    /* top: 52.5% !important; */
  }
  .titleContainer {
    left: 46% !important;
  }
  .landingPageModal {
    left: 46%!important;
  }
}

 @media (max-width: 1150px) {
  .landing-page-modal {
    top: 50%!important;
  }
  .tvButtonContainer {
    right: 27% !important;
    /* top: 52.5% !important; */
  }
  
}

  @media (max-width: 1100px) {
  .tvButtonContainer {
    right: 26% !important;
    /* top: 51% !important; */
  }
  .titleContainer {
    left: 45.2% !important;
  }
  .landingPageModal {
    left: 45%!important;
  }
}


 @media (max-width: 1025px) {
  .tvButtonContainer {
    right: 25% !important;
    /* top: 51% !important; */
  }
  .titleContainer {
    left: 46% !important;
  }
  .landingPageModal {
    left: 44.8%!important;
  }
}

 @media (max-width: 1000px) {
  .tvButtonContainer {
    right: 24% !important; 
  }
  .titleContainer {
    left: 45.5% !important;
  }
  .landingPageModal {
    left: 44.6%!important;
  }
}

@media (max-width: 950px) {
  .tvScreen{
    /* top: 55.8%; */
  }
  .tvButtonContainer {
    right: 23% !important;
    /* top: 51.75% !important; */
  }
  .titleContainer {
    left: 45.75% !important;
  }
  .landingPageModal {
    left: 44.4%!important;
  }
}

  @media (max-width: 900px) {

  .tvButtonContainer {
    right: 21% !important;
    /* top: 52.75% !important; */
  }
}

 @media (max-width: 850px) {
 
  .tvButtonContainer {
    right: 19.5% !important;
    /* top: 50.75% !important; */
  }
  .titleContainer {
    left: 45% !important;
  }
  .landingPageModal {
    left: 44.2%!important;
  }
}

 @media (max-width: 800px) {
  .tvButtonContainer {
    right: 17% !important; 
  }
  .landingPageModal {
    left: 44%!important;
  }
}

 @media (max-width: 750px) {
  .tvButtonContainer {
    right: 15% !important;
    /* top: 50.75% !important; */
  }
  .titleContainer {
    left: 44% !important;
  }
  .landingPageModal {
    left: 43.8%!important;
  }
}

@media (max-width: 700px) {
  .tvButtonContainer {
    right: 12% !important;
    /* top: 51% !important; */
  }
  .titleContainer {
    /* left: 44% !important; */
  }
  .landingPageModal {
    left: 43.8%!important;
  }
}


@media (max-width: 650px) {
  .tvButtonContainer {
    right: 8% !important;
    /* top: 51% !important; */
  }
  .titleContainer {
    left: 43.8% !important;
  }
  .landingPageModal {
    left: 43%!important;
  }
}

 @media (max-width: 600px) {
  .tvButtonContainer {
    right: 5% !important;
    /* top: 50.75% !important; */
  }
  .titleContainer {
    left: 43% !important;
  }
  .landingPageModal {
    left: 42%!important;
  }
}

 @media (max-width: 550px) {
  .tvButtonContainer {
    right: 1% !important;
    /* top: 50.75% !important; */
  }
  .titleContainer {
    left: 42% !important;
  }
  .landingPageModal {
    left: 41%!important;
  }
}

@media (max-width: 500px) {
  .tvButtonContainer {
    right: -4% !important;
    /* top: 51% !important; */
  }
  .titleContainer {
    left: 42.2% !important;
  }
  .landingPageModal {
    left: 41.5%!important;
    top: 52%!important;
  }
}

@media (max-width: 480px) {
  .tvButtonContainer {
    right: -2% !important;
    top: 52% !important;
  }
}

@media (max-width: 450px) {
  .tvButtonContainer {
    right: -2% !important;
    top: 52% !important;
  }
  .landingPageModal {
    left: 42%!important;
    top: 50%!important;
  }
}

@media (max-width: 420px) {
  .tvButtonContainer {
    right: 2% !important;
    top: 51.5% !important;
  }
  .landingPageModal {
    top: 50.5%!important;
    left: 43.5%!important;
  }
}

@media (max-width: 400px) {
  .tvButtonContainer {
    right: 0% !important;
  }
}

 @media (max-width: 375px){
  .tvButtonContainer {
    right: -4% !important;
    /* top: 51.25% !important; */
  }
}


 @media (max-width: 320px){
  .tvButtonContainer {
    right: -3.5% !important;
    top: 51% !important;
  }
}

 @media (max-width: 300px){
  .tvButtonContainer {
    /* top: 50.5% !important; */
    right: -1% !important;
    top: 50.75% !important;
  }


}

@media (max-width: 280px){
  .tvButtonContainer {
    right: -4% !important;
  }
}
 






