.greeting {
  font-size: 1.5rem;
  text-align: center;
  background: linear-gradient(315deg, #185a9d 0%, #43cea2 85%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: .25rem;
  font-family: monospace;
  font-weight: 700;
  letter-spacing: .2rem;
}

.gallerySection{
  margin-top: 0rem;
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .gallerySection{
    margin-top: 2rem;
  }
}