#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
html {
  position: relative;
  height: 100%;
  font-size: 16px;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-main {
  flex: 1;
}

.tv-button {
  border: 1px solid black;
  /* background-color: orange; */
  font-weight: bold;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  background-size: 120% auto;
  /* background-image: linear-gradient(315deg, #c02425 0%, #f0cb35 75%); */
  background-image: linear-gradient(315deg, #43cea2 0%,  #185a9d 75%);
  text-transform: uppercase;
}

.tv-button:hover {
  /* background: #f0cb35; */
  color: black;
  /* background-image: linear-gradient(315deg, #f0cb35 0%, #c02425 100%); */
  background-image: linear-gradient(315deg, #185a9d 0%, #43cea2 100%);
}

.tv-screen {
  background: rgba(255,255,255,0.1);
box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(8px);
border-radius: 10px;

}

.app-title {
  background: linear-gradient(315deg, #185a9d 0%, #43cea2 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: fadeIn 2s;
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.landing-page-modal {
  animation: fadeIn 1s;
}




@media (max-width: 1445px) {
  .tv-button-container {
    right: 33% !important;
  }
}

@media (max-width: 1400px) {
  .tv-button-container {
    right: 32.5% !important;
  }
}

@media (max-width: 1300px) {
  .tv-button-container {
    right: 31% !important;
  }
  .title-container {
    left: 46.8% !important;
  }
  .landing-page-modal {
    left: 47%!important;
  }
}
@media (max-width: 1200px) {
  .tv-button-container {
    right: 30% !important;
  }
  .title-container {
    left: 46.5% !important;
  }
  .landing-page-modal {
    left: 46.4%!important;
  }
}
@media (max-width: 1100px) {
  .tv-button-container {
    right: 26% !important;
  }
  .title-container {
    left: 46.2% !important;
  }

}
@media (max-width: 1000px) {
  .tv-button-container {
    right: 24% !important;
  }
  .title-container {
    left: 46% !important;
  }
  .landing-page-modal {
    left: 46%!important;
  }
}

@media (max-width: 950px) {
  .tv-button-container {
    top: 51% !important;
  }
  .landing-page-modal {
    top: 50%!important;
  }
  .tv-button-container {
    right: 24% !important;
    top: 50.5% !important;
  }
  
}

@media (max-width: 900px) {
  .tv-button-container {
    right: 22% !important;
    top: 51% !important;
  }
  .title-container {
    left: 45.2% !important;
  }
  .landing-page-modal {
    left: 45%!important;
  }
}







@media (max-width: 800px) {
  .tv-button-container {
    right: 18% !important;
  }
  .title-container {
    left: 44.7% !important;
  }
}
@media (max-width: 700px) {
  .tv-button-container {
    right: 14% !important;
  }
  .title-container {
    left: 44% !important;
  }
  .landing-page-modal {
    left: 44%!important;
  }
}
@media (max-width: 645px) {
  .tv-button-container {
    right: 12% !important;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 14px; /* Reduce base font-size on smaller screens */
  }
  .tv-button-container {
    right: 12% !important;
  }
  .title-container {
    left: 43.8% !important;
  }
  .landing-page-modal {
    top: 51%!important;
    left: 43.5%!important;
  }
}
@media (max-width: 550px) {
  .tv-button-container {
    right: 10% !important;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 12px; /* Reduce base font-size on smaller screens */
  }
  .tv-button-container {
    right: 11% !important;
    top: 51.5% !important;
  }
}

@media (max-width: 450px) {
  .tv-button-container {
    right: 7% !important;
    /* top: 50% !important; */
  }
  .title-container {
    left: 43% !important;
  }
  .landing-page-modal {
    top: 50.6%!important;
    left: 42%!important;
  }
  .landing_page_tv {
    height: 34rem!important;
  }
}

@media (max-width: 425px) {
  .tv-button-container {
    right: 5% !important;
    /* top: 50% !important; */
  }
  .landing-page-modal {
    top: 50.6%!important;
    left: 42%!important;
  }
  .landing_page_tv {
    height: 33rem!important;
  }
  
}

@media (max-width: 400px) {
  html {
    font-size: 12px; /* Reduce base font-size on smaller screens */
  }
  .tv-button-container {
    right: 2% !important;
    top: 51% !important;
  }
  .landing-page-modal {
    top: 51%!important;
    left: 42.8%!important;
  }
  .landing_page_tv {
    height: 31rem!important;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 9.5px; /* Reduce base font-size on smaller screens */
  }
  .tv-button-container {
    right: 3.5% !important;
    top: 50.5% !important;
  }
  .landing-page-modal {
    /* top: 51%!important; */
    left: 42.5%!important;
  }
  .landing_page_tv {
    height: 34rem!important;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 9px; /* Reduce base font-size on smaller screens */
  }
  .tv-button-container {
    right: 4% !important;
  }
  .landing_page_tv {
    height: 36rem!important;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 8px; /* Reduce base font-size on smaller screens */
  }
  .tv-button-container {
    right: 6% !important;
  }
  .landing_page_tv {
    height: 38rem!important;
  }
}

@media (max-width: 280px) {
  html {
    font-size: 7px; /* Reduce base font-size on smaller screens */
  }
  .tv-button-container {
    right: 8% !important;
    top: 50% !important;
  }
  .title-container {
    top: 49%!important;
  }
  .landing-page-modal {
    top: 50.5%!important;
  }
}

@media (max-width: 260px) {
  html {
    font-size: 6px; /* Reduce base font-size on smaller screens */
  }
  .tv-button-container {
    right: 10% !important;
    top: 49.25% !important;
  }

}


