#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
html {
  position: relative;
  height: 100%;
  font-size: 16px;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-main{
  flex: 1;
}

@media (max-width: 600px) {
  html {
    font-size: 14px; /* Reduce base font-size on smaller screens */
  }
  .tv-container {
    /* margin-top: 10rem !important; */
  }
}

@media (max-width: 500px) {
  html {
    font-size: 12px; /* Reduce base font-size on smaller screens */
  }
  .tv-container {
    margin-top: 14rem !important;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 12px; /* Reduce base font-size on smaller screens */
  }
  .tv-container {
    margin-top: 20rem !important;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 10px; /* Reduce base font-size on smaller screens */
  }
  .tv-container {
    margin-top: 20rem !important;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 8px; /* Reduce base font-size on smaller screens */
  }
  .tv-container {
    margin-top: 20rem !important;
  }
}

