#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
html {
  position: relative;
  height: 100%;
  font-size: 16px;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-main {
  flex: 1;
}

.tv-button {
  border: 1px solid black;
  /* background-color: orange; */
  font-weight: bold;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  background-size: 120% auto;
  /* background-image: linear-gradient(315deg, #c02425 0%, #f0cb35 75%); */
  background-image: linear-gradient(315deg, #43cea2 0%,  #185a9d 75%);
  text-transform: uppercase;
}

.tv-button:hover {
  /* background: #f0cb35; */
  color: black;
  /* background-image: linear-gradient(315deg, #f0cb35 0%, #c02425 100%); */
  background-image: linear-gradient(315deg, #185a9d 0%, #43cea2 100%);
}

.app-title {
  background: linear-gradient(315deg, #185a9d 0%, #43cea2 100%);
  -webkit-background-clip: text;
  background-clip: text;
    color: transparent;
}

@media (max-width: 1445px) {
  .tv-button-container {
    right: 33% !important;
  }
}

@media (max-width: 1400px) {
  .tv-button-container {
    right: 32.5% !important;
  }
}

@media (max-width: 1300px) {
  .tv-button-container {
    right: 31% !important;
  }
  .title-container {
    left: 46.8% !important;
  }
}
@media (max-width: 1200px) {
  .tv-button-container {
    right: 30% !important;
  }
  .title-container {
    left: 46.6% !important;
  }
}
@media (max-width: 1100px) {
  .tv-button-container {
    right: 26% !important;
  }
  .title-container {
    left: 46.2% !important;
  }
}
@media (max-width: 1000px) {
  .tv-button-container {
    right: 24% !important;
  }
  .title-container {
    left: 46% !important;
  }
}
@media (max-width: 900px) {
  .tv-button-container {
    right: 22% !important;
  }
  .title-container {
    left: 45.2% !important;
  }
}
@media (max-width: 800px) {
  .tv-button-container {
    right: 18% !important;
  }
  .title-container {
    left: 44.75% !important;
  }
}
@media (max-width: 700px) {
  .tv-button-container {
    right: 14% !important;
  }
  .title-container {
    left: 44% !important;
  }
}
@media (max-width: 645px) {
  .tv-button-container {
    right: 12% !important;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 14px; /* Reduce base font-size on smaller screens */
  }
  .tv-button-container {
    right: 12% !important;
    top: 45% !important;
  }
  .title-container {
    left: 43.8% !important;
  }
}
@media (max-width: 550px) {
  .tv-button-container {
    right: 10% !important;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 12px; /* Reduce base font-size on smaller screens */
  }
  .tv-button-container {
    right: 11% !important;
    top: 44.75% !important;
  }
}

@media (max-width: 450px) {
  .tv-button-container {
    right: 7% !important;
    top: 44.6% !important;
  }
  .title-container {
    left: 43% !important;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 12px; /* Reduce base font-size on smaller screens */
  }
  .tv-button-container {
    right: 0% !important;
    top: 44.5% !important;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 10px; /* Reduce base font-size on smaller screens */
  }
  .tv-button-container {
    right: 3% !important;
    top: 44.5% !important;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 9px; /* Reduce base font-size on smaller screens */
  }
  .tv-button-container {
    right: 4% !important;
    top: 44% !important;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 8px; /* Reduce base font-size on smaller screens */
  }
  .tv-button-container {
    right: 6% !important;
    top: 43.75% !important;
  }
}

@media (max-width: 280px) {
  html {
    font-size: 7px; /* Reduce base font-size on smaller screens */
  }
  .tv-button-container {
    right: 8% !important;
    top: 43.5% !important;
  }
}

@media (max-width: 260px) {
  html {
    font-size: 6px; /* Reduce base font-size on smaller screens */
  }
  .tv-button-container {
    right: 10% !important;
    top: 43.25% !important;
  }
  .title-container {
    top: 43%!important;
  }
}


.css-button-gradient--4 {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #43cea2 0%, #185a9d 75%);
}
.css-button-gradient--4:hover {
  background-position: right center;
}
.css-button-gradient--4:active {
  top: 2px;
}