
/* .app_title {
  font-size: 3rem;
  background: linear-gradient(315deg, #185a9d 0%, #43cea2 85%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: fadeIn 2.5s;
}

.landing_page_modal {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1.5; }
} */

