.yourWatchlist {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  padding: .25rem;
  font-family: 'Raleway';
  font-weight: 800;
  letter-spacing: .2rem;
}

.savedTitleCountDisplay {
  font-size: 1.25rem;
  text-align: center;
  padding: .25rem;
  font-family: 'Raleway';
  font-weight: 800;
  letter-spacing: .2rem;
  margin-top: 0;
  margin-bottom: .5rem;
}

.swiper {
  width: 100%;
  height: auto;
}

.slide {
  width: 16rem;
  height: 24rem;
  margin-bottom: 5rem;
  cursor: pointer;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  /* border: solid 1px black; */
}

.slide:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, .75); 
}

.savedTitle{
  font-size: 1.2rem;
  margin-bottom: 0;
  margin-top: 0rem;
  margin-left: .5rem;
  padding: .3rem;
  padding-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}

.watchlistPoster:hover {
  /* opacity: .6; */
  transform: scale(1.01);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, .75); 
}

.genres{
  font-size: .8rem;
  margin-bottom: 0;
  margin-top: -.35rem;
  padding-left: .3rem;
  margin-left: .6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.releaseDate {
  font-size: .8rem;
  margin-bottom: 0;
  margin-top: 0rem;
  padding-bottom: .5rem;
  padding-left: .3rem;
  margin-left: .6rem;
}

.removeButton:hover {
  transform: scale(1.1);
}

@media(max-width: 900px) {
  .backdrop {
    display: none;
  }
  .logoPlaceholderGrid {
    display: none;
  }
 
  .removeLabel {
    display: block;
  } 
}

/* media queries */
@media (max-width: 500px ) {
  .slide {
    margin-left: 0;
    margin-right: 0;
  }
}
