.savedTitleCountDisplay {
  text-align: center;
  padding: .25rem;
  font-family: monospace;
  font-weight: 700;
  letter-spacing: .2rem;
}

.swiper {
  width: 100%;
  height: 100%;
  /* background: #000; */
}

.swiperSlide { 
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
  height: 100vh;
  width: auto;
  position: relative;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.year {
  font-size: 1rem;
  margin: 0;
}

.genre {
  font-size: 1rem;
  margin: 0;
}

.type {
  font-size: 1rem;
  margin: 0;
}

.backdropBox{ 
 /* background-image: linear-gradient(315deg, #43cea2 0%,  #185a9d 75%); */
 height: 100vh;
}



.backdrop {
  height: auto;
  width: 100%;
  opacity: 0.5;
    /* filter: blur(3px); */
  padding: 8rem;
  position: relative;
}


@media(max-width: 920px) {
  .backdropBox {
    /* height: 80vh; */
  }
}

@media(max-width: 768px) {
  .backdropBox {
    /* height: 60vh; */
  }
}

@media(max-width: 500px) {
  .backdropBox {
    /* height: 30vh; */
  }
}

@media(max-width: 400px) {
  .backdropBox {
    /* height: 30vh; */
  }
}

@media(max-width: 300px) {
  .backdropBox {
    /* height: 20vh; */
  }
}