.swiper {
  width: 100%;
  height: auto;
  /* padding-top: 2rem; */
  padding-bottom: 2rem;
}

.slide {
  background-position: center;
  background-size: cover;
  width: 20rem;
  height: 30rem;
}

.img {
  display: block;
  width: 60%;
}

.overviewText {
 font-size: .8rem;
}
