.pageTitle {
  font-size: 2rem;
  text-align: center;
  background: linear-gradient(315deg, #185a9d 0%, #43cea2 85%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.trendingContainer {
  /* background: linear-gradient(315deg, #43cea2 0%,  #185a9d 85%); */
  /* background: linear-gradient(315deg, #c02425 0%, #f0cb35 75%);  */
  /* background-color: lightcyan; */
  
  background: #DFDFDD!important;
}