.swiper {
  width: 100%;
  height: auto;
  /* padding-top: 2rem; */
  padding-bottom: 2rem;
}

.slide {
  background-position: center;
  background-size: cover;
  width: 20rem;
  height: 30rem;
}

.img {
  display: block;
  width: 60%;
  padding: .25rem;
  
}

.overviewTitle{
  font-size: 2rem!important;
  margin-bottom: -1.25rem!important;

}

.overviewText {
 font-size: 1.5rem;
 margin-top: .5rem;
 margin-bottom: 0;
}
