.signup_form_title{
  margin: 0;
  background: linear-gradient(315deg, #185a9d 0%, #43cea2 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 0;
  font-size: 1.25rem;
}

@media (max-width: 500px) {
  .signup_form_title{
    display: none;
  }
}