.appTitle {
  font-size: 2.5rem;
  background: linear-gradient(315deg, #185a9d 0%, #43cea2 85%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 1.5px black;
  font-family: monospace;
  font-weight: 700;
  letter-spacing: .2rem;
  padding: .25rem;
  margin-left: -9rem;
}

.header {
  background-image: linear-gradient(315deg, #43cea2 0%,  #185a9d 75%);
  padding: 0rem;
}

.tvIcon {
  height: 4rem;
  width: auto;
  margin-left: 2rem;
}

