.app_title {
  font-size: 2.25rem !important;
  font-weight: bold !important;
  /* color: black; */
  background: linear-gradient(315deg, #185a9d 0%, #43cea2 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.header {
  background-image: linear-gradient(315deg, #43cea2 0%,  #185a9d 75%);
}

.header a {
  color: black;
}

.header a:hover {
  color: white;
}