.appTitle {
  font-family: "Raleway";
  font-size: 2.5rem;
  background: linear-gradient(315deg, #185a9d 0%, #43cea2 85%);
  -webkit-background-clip: text;
  background-clip: text;
  color: black;
  -webkit-text-stroke: 1.5px black;
  /* font-family: monospace; */
  /* font-weight: 700; */
  /* letter-spacing: .2rem; */
  margin-left: -9rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.header {
  background-image: linear-gradient(315deg, #43cea2 0%,  #185a9d 75%);
  padding: 0rem;
}

.tvIcon {
  height: 3.25rem;
  width: auto;
  margin-left: 2rem;
  /* margin-top: 0rem; */
}

@media (max-width: 1450px) {
  .appTitle {
    font-size: 2.25rem;
    margin-left: -8rem;
  }
}

@media (max-width: 1350px) {
  .appTitle {
    font-size: 2.25rem;
    margin-left: -7rem;
  }
}

@media (max-width: 1250px) {
  .appTitle {
    font-size: 2.25rem;
    margin-left: -5rem;
  }
}

@media (max-width: 1150px) {
  .appTitle {
    
    margin-left: -4rem;
  }
}

@media (max-width: 920px) {
  .appTitle {
    font-size: 2.25rem;
    margin-left: -6rem;
  }
  .tvIcon {
    height: 3rem;
    width: auto;
    margin-left: 1rem;
  }
}

@media (max-width: 750px) {
  .appTitle {
    margin-left: -5rem; 
  }
}

@media (max-width: 650px) {
  .appTitle {
    margin-left: -4rem; 
  }
}

@media (max-width: 550px) {
  .appTitle {
    margin-left: -2rem; 
  }
}

@media (max-width: 400px) {
  .appTitle {
    font-size: 2rem;
    margin-left: -.75rem;
  }
}

@media (max-width: 350px) {
  .appTitle {
    font-size: 1.75rem;
  }
  .tvIcon {
    height: 2.75rem;

    margin-left: .5rem;
  }
}

@media (max-width: 300px) {
  .appTitle {
    font-size: 1.5rem;
  }
  .tvIcon {
    height: 2.5rem;
    width: auto;
    margin-left: .5rem;
  }
}