.resultTitle {
  white-space: nowrap;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  text-wrap: wrap;
  margin: 0;
  font-size: 1.2rem;
}

.resultType {
  margin: 0;
  font-size: 1rem;
}

.resultYear {
  margin: 0;
  font-size: 1rem;
} 